{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/giasuc.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Trang chủ</a></span> <span></span></p>
            <h1 class="mb-0 bread">Giỏ Hàng Của Tôi</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Tên SP</th>
						        <th>Đơn giá</th>
						        <th>Số Lương</th>
						        <th>Thành Tiền</th>
						      </tr>
						    </thead>
						    <tbody>
							{% for order in lineOrderList %}
								<tr class="text-center">
									<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

									<td class="image-prod"><div class="img" style="background-image:url({{order.item.photo.url}});"></div></td>

									<td class="product-name">
										<h3>{{order.item.name}}</h3>
										<p>{{order.item.details}}</p>
									</td>

									<td class="price">₫ {{order.item.price}}</td>

									<td class="quantity">
										<div class="input-group mb-3">
										<input type="text" name="quantity" class="quantity form-control input-number" value="{{order.quantity}}" min="0" max="100" disabled>
									</div>
								</td>

									<td class="total">₫ {{order.get_total_item_price}}</td>
								</tr><!-- END TR-->
							{% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Mã Giảm Giá</h3>
    					<p>Nhập Mã Giảm Giá (Nếu Có)</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Mã Giảm giá</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				{% comment %} <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p> {% endcomment %}
    			</div>

    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Tổng Giỏ Hàng</h3>
    					<p class="d-flex">
    						<span>Tạm Tính</span>
    						<span>₫ {{cart.get_total_price}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Phí Vận Chuyển</span>
    						<span>₫ {{cart.shipping_price}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Giảm Giá</span>
    						<span>₫ ---</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Tổng Cộng</span>
    						<span>₫ {{cart.get_final_price}}</span>
    					</p>
    				</div>
    				<p><a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4">Bước Tiếp Theo (Check Out)</a></p>
    			</div>
    		</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
