{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/heo_zzra.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}"> </a></span> <span></span></p>
            <h1 class="mb-0 bread">THANH TOÁN</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 ftco-animate">
			<form method='POST' class="billing-form" id='checkout_form'>
				{%csrf_token%}
				<h3 class="mb-4 billing-heading">Địa chỉ thanh toán</h3>
				<div class="row align-items-end">
					<div class="col-md-6">
					<div class="form-group">
					<label for="first_name">Họ</label>
					{{form.first_name}}
					{% comment %} <input type="text" class="form-control" placeholder=""> {% endcomment %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="lastname">Tên</label>
						{{form.last_name}}
					{% comment %} <input type="text" class="form-control" placeholder=""> {% endcomment %}
					</div>
				</div>

				<div class="w-100"></div>
					<div class="col-md-6">
						<div class="form-group">
						<label for="streetaddress">Địa chỉ</label>
						{{form.street_address_1}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{form.street_address_2}}
				</div>
				</div>
				<div class="w-100"></div>
				<div class="col-md-6">
					<div class="form-group">
					<label for="towncity">Tỉnh/ Thành Phố</label>
					{{form.city}}
				</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="postcodezip">Mã Bưu Điện / ZIP *</label>
				<input type="text" class="form-control" placeholder="" >
				</div>
				</div>
				<div class="w-100"></div>
				<div class="col-md-6">
				<div class="form-group">
					<label for="phone">SĐT</label>
					{{form.phone_number}}
				</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="emailaddress">Email</label>
						{{form.email}}
					</div>
				</div>
			</div>
			</form><!-- END -->
		</div>
		<div class="col-xl-5">
			<div class="row mt-5 pt-3">
			<div class="col-md-12 d-flex mb-5">
	          		<div class="cart-detail cart-total p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Tổng Giỏ Hàng</h3>
	          			<p class="d-flex">
		    						<span>Tạm Tính</span>
		    						<span>{{cart.get_total_price}}</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Phí Vận Chuyển</span>
		    						<span>₫{{cart.shipping_price}}</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Giảm Giá</span>
		    						<span>₫ {{cart.get_discount_price}}</span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Tổng Cộng</span>
		    						<span>₫ {{cart.get_final_price}}</span>
		    					</p>
								</div>
	          	</div>
			</div>
	          	<div class="col-md-12">
	          		<div class="cart-detail p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Phương Thức Thanh Toán</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2">Thanh Toán Khi Nhận Hàng</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
<!--											   <label><input type="radio" name="optradio" class="mr-2">Chuyển Khoản</label>-->
											</div>
										</div>
									</div>

									<p><button type='submit' form='checkout_form' class="btn btn-primary py-3 px-4">Đặt Hàng</button></p>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
